<div class="row">
	<div class="col-md-12 mg-bt-80">
		<div class="header-content">
			<h2>Contact</h2>
			<h3>Partagez votre <a href="javascript:;">histoire</a> avec nous.</h3>
		</div>
		<p>Pour une demande devis, de partenariat, d'informations de toutes sortes sur nos services et nos locations merci d'utliser le formulaire ci-dessous.
		Vous pouvez aussi nous joindre du Lundi au Dimanche de 7H à 21H sur notre ligne directe:
		Téléphone:  00 00 00 00 00
		</p>
	</div>
	<div class="col-sm-6 col-md-8">
		<form role="form">
			<div class="form-group row">
				<div class="col-md-8">
					<input type="email" class="form-control col-md-6" id="exampleInputEmail1" placeholder="Enter email">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-8">
					<input type="text" class="form-control" id="exampleInputPassword1" placeholder="subject">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-lg-11">
					<textarea class="form-control" id="inputmessages" rows="10"></textarea>
				</div>
			</div>
			<br/>
			<button type="submit" class="btn btn-dark big">Send Message</button>
		</form>
	</div>
	<div class="col-sm-6 col-md-4">
		<p>P. Sherman
		<br>42, Wallaby Way,
		<br>Sydney, Australlia</p>
		<br/>
		<p>
		Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet
		<strong>libero</strong>turpis, non venenatis urna. In blandit, odio convallis suscipit.
		</p>
	</div>
</div>

