<div class="row">
	<div class="col-md-12">
		<div class="header-content">
			<h2>Grues</h2>
		</div>
	</div>
	<div class="col-md-12 mg-bt-80">
		<p>
			LOCAGEC  vous propose un grand choix  de grues auto-montables de la marque CATTANEO. Présent sur le marché depuis 1954, CATTANEO est aujourd'hui l'un des leaders mondiaux des grues auto-montables. LOCAGEC est à mesure de vous proposer l'ensemble de sa gamme avec le conseil et le service adapté à vos besoins.
		</p>

		<img src="assets/images/table_grues.jpg" alt="image description" />
	</div>
</div>
