                <div id="home-slide">
                    <ul class="slides-container text-center">
                        <li>
                            <div class="slide-text">
                                <h2>Locagec</h2>
                                <span>Spécialiste de la location de Grues et d’Engins de chantier, nous vous accompagnons sur tous vos chantiers.</span>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('assets/images/slide-1.jpg');" class="bg-parallax parallaxize"></div>
                        </li>
                        <li>
                            <div class="slide-text">
                                <h2>Fullscreen Slider</h2>
                                <span>Its form and sound are from the Latin The Latin borrowed</span>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('assets/images/slide-2.jpg');" class="bg-parallax parallaxize"></div>
                        </li>
                        <li>
                            <!-- Slide -->
                            <div class="slide-text">
                                <h2>Responsive Ready</h2>
                                <span>Has two sounds one simple as in gave go gull the other compound</span>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('assets/images/slide-3.jpg');" class="bg-parallax parallaxize"></div>
                        </li>
                    </ul>
                    <nav class="slides-navigation slidez">
                        <a href="javascript:;" class="next">
                            <i class="icon-chevron-right"></i>
                        </a>
                        <a href="javascript:;" class="prev">
                            <i class="icon-chevron-left"></i>
                        </a>
                    </nav>
                </div>
