<div class="row">
	<div class="col-md-12 mg-bt-80">
		<div class="header-content">
			<h2>Recrutements</h2>
			<h3><a class="sslide" href="#contact">Rejoignez</a> nous.</h3>
		</div>
		<p>Dans le cadre notre implantation sur l'ensemble du territoire Ivoirien nous recherchons des commerciaux dans plusieurs grandes villes. Notre entreprise spécialisée dans les services et la location d'engins de chantier est basée à Anyama. Les candidats interessés devront suivre trois jours de formation dans nos locaux après entretien et sélection. Nous fournissons tout l'équipement necessaire à la démarche commerciale. En fonction des profils nous participons aux frais de démarchages commerciaux. Pour commencer votre activité d'agent commercial votre rémunératon est une commission sur le chiffre d'affaire.
		</p>
		<p>
			Nous recherchons des candidats pour les secteurs suivants:
 			<ul class="list">
				<li>Un agent commercial responsable du secteur de YAMOUSSOUKRO ET BOUAKE</li>
				<li>Un agent commercial responsable du secteur  DIVO GAGNOA ET DALOA</li>
				<li>Un agent commercial responsable du secteur de SAN PEDRO</li>
				<li>Un agent commercial responsable du secteur de MAN</li>
				<li>Un agent commercial responsable du secteur de KORHOGO ET ODIENNE</li>
				<li>La conduite des engins de chantier</li>
				<li>La conduite des camions</li>
 			</ul>
		</p>
	</div>
</div>

