<div class="row">
	<div class="col-md-12">
		<div class="header-content">
			<h2>Services</h2>
		</div>
	</div>
	<div class="col-md-12 mg-bt-80">
		<p>En complément à notre métier principal de loueur d’engins et de matériels 
		pour le BTP nous proposons à tous nos clients un ensemble de services
		que nous réalisons grâce à notre matériel performant.</br>
		Nous organisons régulièrement des stages de formations et des séminaires pour permettre à  tous clients d’optimiser l’utilisation de nos machines au quotidien. Spécialiste des GRUES AUTO-MONTANTES depuis plus de vingt ans nos partenaires <strong>italiens</strong> vous diront tout de cet engin conçu pour le levage et le déplacement de vos matériaux de construction.
		Contactez notre Service Formation obtenir la liste des formations et séminaires</br>
		Téléphone:
		</p>


		<h3>Faîtes appel à nos nos équipes spécialisées</h3>
		<div class="col-md-6 mg-bt-80">
			<ul class="list">
				<li>Travaux de terrassement</li>
				<li>Aménagement paysager</li>
				<li>Aménagement agricole</li>
				<li>Aménagement Forestier</li>
				<li>Rénovation et Nettoyage de Façades</li>
				<li>Nettoyage de chantiers et enlèvement des gravats</li>
				<li>Nettoyage des vitrages extérieurs en hauteur</li>
				<li>Pose de Luminaires ou d’Affiche Publicitaires en Hauteur</li>
				<li>Lotissements et Ouvertures de voies</li>
				<li>Dépanneuse pour véhicules et camions</li>
				<li>Transports de matériaux en tous genres</li>
				<li>Travaux de Peinture et de Carrelage</li>
			</ul>
		</div>
		<div class="col-md-6 mg-bt-80">
			<div id="slider-services">
				<div>
					<img src="assets/images/slide_services1.jpg" alt="image description" />
				</div>
				<div>
					<img src="assets/images/slide_services2.jpg" alt="image description" />
				</div>
				<div>
					<img src="assets/images/slide_services3.jpg" alt="image description" />
				</div>
				<div>
					<img src="assets/images/slide_services4.jpg" alt="image description" />
				</div>
				<div>
					<img src="assets/images/slide_services5.jpg" alt="image description" />
				</div>
			</div>
		</div>
	</div>
</div>
