<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
        <h2>LOCATIONS</h2>
        <p>Nous louons des tractopelles, des pelles excavatrices, des chariot élévateurs télescopiques,
        des grues auto-montantes, des camions équipés de grues pour faciliter le levage de poids importants. Pour vous faire gagner du temps nous vous proposons aussi notre porte engins avec un conducteur
        qualifié quelque soit l'emplacement de votre chantier. En plus des  engins pour les grands et petits travaux, nous louons aussi les  échafaudages, les étais, les compresseurs, les groupes électrogènes, les systèmes de coffrages, les bétonnières, les pompes à béton, les  vibreurs à béton,  les systèmes de mesures de niveau laser et optique. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
        <h2>SERVICES</h2>
        <p>Spécialiste de la location d’engins et de matériels pour le BTP nous vous proposons un ensemble de services associés à nos équipements. Nous disposons d’une équipe compétente et à votre écoute pour vous conseiller, guider votre choix et vous proposer la solution la plus pertinente. Nous pouvons réaliser pour vous les services suivants :
            <ul>
                <li>Travaux de terrassement</li>
                <li>Rénovation et Nettoyage de Façades</li>
                <li>Nettoyage de chantiers et enlèvement des gravats</li>
                <li>Nettoyage des vitrages extérieurs en hauteur</li>
                <li>Pose de Luminaires ou d’Affiche Publicitaires  en Hauteur</li>
                <li>Lotissements et Ouvertures de voies</li>
                <li>Dépanneuse  pour véhicules et camions</li>
                <li>Transports de matériaux en tous genres</li>
                <li>Travaux de Peinture et de Carrelage</li>
            </ul>
        </p>

        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
        <h2>NOS  ENGAGEMENTS</h2>
        <p> 
            <ul>
                <li>Gain de temps avec notre porte engin et son conducteur qualifié,</li>
                <li>Réactivité et qualité de services quelque soit  votre emplacement  géographique</li>
                <li>Matériels conformes à la réglementation en vigueur  et adaptés à vos travaux</li>
                <li>Entretien et contrôles systématiques avant chaque location</li>
                <li>Démarche de qualité pour vous garantir une satisfaction totale quelque soit votre demande</li>
                <li>Fiabilité, performance et sécurité assurée</p></li>
            </ul>
            </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
