<nav id="nav" class="navigation" role="navigation">

<h2> Procedure de recherche </h2>
</br>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<form role="form" action="#">
<h3>Mots clefs de recherches</h3>
	<div class="form-group">
		<div class="row keywords">
			<div class="col-xs-3"><input type="text" class="form-control" placeholder="Mots"></div>
			<div class="col-xs-3"><input type="text" class="form-control" placeholder="Mots"></div>
			<div class="col-xs-3"><input type="text" class="form-control" placeholder="Mots"></div>
			<div class="col-xs-3"><input type="text" class="form-control" placeholder="Mots"></div>
		</div>
		</br>
		<button type="button" class="btn btn-primary add-keyword"><span class="glyphicon glyphicon-plus"></span></button>
		</br>
		</br>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="checkbox">
				<label>
					<input type="checkbox" value=""> Inclusif 
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value=""> Exclusif
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value=""> doogle Patent
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value=""> Canada
				</label>
			</div>
		</div>
		<div class="col-md-6">
			<button template="targets"  type="submit" class="btn btn-primary btn-block start-search">Export CSV Gephi</button>
		</div>
	</div>
</form>
</nav>
